<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="datatime" >Задание 3 </a>
<p>Настройте приложение из второго задания, чтобы
оно выводило в браузер текущую дату и время.</p>
<br>

<a href="table" >Задание 4 </a>

<p>Создайте веб-приложение, отображающее таблицу
умножения от 1 до 10.</p>
<br>
<a href="programersday" >Задание 5 </a>
<p>Создайте веб-приложение, отображающее дату дня
программиста в текущем году. День программиста —
256-й день года.</p>

</body>
</html>